
body{

	width:100%;
	height: 100%;

}


#buttonBox {

display: flex;
flex-wrap: wrap;
justify-content: space-around;

}


.gifButton {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;	
	margin-top: 5vh;
	text-align: center;
	width:10vw;
	white-space: nowrap;
	background-color: #20538d;
	border: 0.5px  solid silver ;
	color:white;
	border: 0.5px silver;
	
}


.gifButton:hover {

cursor: pointer;
background-color: blue;	
}




	h1 {
		width: 25vw;
		white-space: nowrap;
		position: relative;
		left:75%;


	}


	.move {
	
	position: relative;
	left:80%;
	}



#gify-box {

  
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-content: space-between;		
	
}

#control {

margin-top: 5%;
padding-left: 250px;


}